  {% extends "login_layout.html" %}
  {% block content %}
    <form  method="post">
        {{ form.csrf_token }}
    <div class="col-md-5 login-form">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt=""
             class="img-responsive logo">
        <!-- start input-field -->
        <h6 class="forgotHeaddingg">Reset Your Password</h6>
        <div class="input-field">
            <i class="fa fa-lock"></i>
            {{ m.render_field(form.new_password) }}
        </div>
        <!-- end input-field -->
        <!-- start input-field -->
        <div class="input-field">
            <i class="fa fa-lock"></i>
            {{ m.render_field(form.confirm_new_password) }}
        </div>
        <!-- end input-field -->
        <input name="" type="submit" value="Reset" class="btn btn-primary btn-block" />

    </div>
    </form>

{% endblock %}