{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auto-complete.css') }}">

<div class="col-md-3 action-targets-section">
	<!-- start white-section -->
	<div class="white-section form-group">
		<h1 class="section-heading">Keyword Blacklist</h1>
        <p class="account-desc">Skip media (caption and tags) and accounts (username, full name, biography, website) that match any of the selected keywords.
Max limit: 1500
        </p>
        <div class="search-container">
            <div class="form-group">
                <div class="icon-addon addon-lg">
                    <i for="email" class="fa fa-search"></i>
                    <input placeholder="Add Keywords" ng-disabled="addingKeyword" ng-model="input" class="ng-pristine ng-valid ng-empty ng-touched tb" aria-invalid="false" style="">
    <button class="btn-brand ng-binding" ng-disabled="addingKeyword">Add</button>
                </div>
            </div>
            <div class="form-group">
                <a href="#" class="btn btn-primary hvr-shutter-out-horizontal reset_btn"><i class="fa fa fa-refresh"></i> Reset Account Targets
                </a>
            </div>
       </div>
    </div>
	<!-- end white-section -->
</div>
<div class="col-md-9 p-l-5">
	<!-- start white-section -->
	<div class="white-section form-group">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <ul class="action-user">
                    <li><i class="fa fa-arrow-circle-down"></i></li>
                    <li><span>You unfollowed@<b>_kwalaaa</b></span>a minute ago</li>
                </ul>
            </div>
             <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <ul class="action-user">
                    <li><i class="fa fa-arrow-circle-down"></i></li>
                    <li><span>You unfollowed@<b>_kwalaaa</b></span>a minute ago</li>
                </ul>
            </div>
             <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <ul class="action-user">
                    <li><i class="fa fa-arrow-circle-down"></i></li>
                    <li><span>You unfollowed@<b>_kwalaaa</b></span>a minute ago</li>
                </ul>
            </div>
             <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <ul class="action-user">
                    <li><i class="fa fa-arrow-circle-down"></i></li>
                    <li><span>You unfollowed@<b>_kwalaaa</b></span>a minute ago</li>
                </ul>
            </div>
             <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <ul class="action-user">
                    <li><i class="fa fa-arrow-circle-down"></i></li>
                    <li><span>You unfollowed@<b>_kwalaaa</b></span>a minute ago</li>
                </ul>
            </div>
             <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <ul class="action-user">
                    <li><i class="fa fa-arrow-circle-down"></i></li>
                    <li><span>You unfollowed@<b>_kwalaaa</b></span>a minute ago</li>
                </ul>
            </div>
             <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <ul class="action-user">
                    <li><i class="fa fa-arrow-circle-down"></i></li>
                    <li><span>You unfollowed@<b>_kwalaaa</b></span>a minute ago</li>
                </ul>
            </div>
             <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <ul class="action-user">
                    <li><i class="fa fa-arrow-circle-down"></i></li>
                    <li><span>You unfollowed@<b>_kwalaaa</b></span>a minute ago</li>
                </ul>
            </div>
             <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <ul class="action-user">
                    <li><i class="fa fa-arrow-circle-down"></i></li>
                    <li><span>You unfollowed@<b>_kwalaaa</b></span>a minute ago</li>
                </ul>
            </div>
             <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <ul class="action-user">
                    <li><i class="fa fa-arrow-circle-down"></i></li>
                    <li><span>You unfollowed@<b>_kwalaaa</b></span>a minute ago</li>
                </ul>
            </div>
             <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <ul class="action-user">
                    <li><i class="fa fa-arrow-circle-down"></i></li>
                    <li><span>You unfollowed@<b>_kwalaaa</b></span>a minute ago</li>
                </ul>
            </div>
             <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <ul class="action-user">
                    <li><i class="fa fa-arrow-circle-down"></i></li>
                    <li><span>You unfollowed@<b>_kwalaaa</b></span>a minute ago</li>
                </ul>
            </div>
             <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <ul class="action-user">
                    <li><i class="fa fa-arrow-circle-down"></i></li>
                    <li><span>You unfollowed@<b>_kwalaaa</b></span>a minute ago</li>
                </ul>
            </div>
             <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <ul class="action-user">
                    <li><i class="fa fa-arrow-circle-down"></i></li>
                    <li><span>You unfollowed@<b>_kwalaaa</b></span>a minute ago</li>
                </ul>
            </div>
             <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <ul class="action-user">
                    <li><i class="fa fa-small-arrow-down"></i></li>
                    <li><span>You unfollowed@<b>_kwalaaa</b></span>a minute ago</li>
                </ul>
            </div>
        </div>
    </div>
	<!-- end white-section -->
</div>

<!--FOOTER -->
<footer>
<span>© 2018, All Right Reserved</span>
</footer>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/classie.js"></script>
<script src="js/selectFx.js"></script>
<script src="js/custom.js"></script>
<script type="text/javascript">

</script>
<script>
	(function() {
		[].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {
			new SelectFx(el);
		} );
	})();

  // $("#one").click(function(e) {
  //               $(this).addClass("fcurrent");
  //  });
  $('#userdetail').hover(
       function(){ $(this).addClass('userdetailBox') },
       function(){ $(this).removeClass('userdetailBox') }
   )
</script>

<script>
    //Range Slider Start Here
    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;

    slider.oninput = function() {
      output.innerHTML = this.value;
    }


</script>

<!--/FOOTER -->
<script src="{{ url_for('static', filename='js/auto-complete.js') }}"></script>
<script src="{{ url_for('static', filename='js/target.js') }}"></script>
<script src="{{ url_for('static', filename='js/common.js') }}"></script>

{% endblock %}
